/* .nav li a{
    display:inline-block;
}

.navbar {
    border-bottom:1px solid rgba(100,100,100,.2);
} */

#content {
    margin-top:65px;
}

.top-border {
    border-top:5px solid #e8e6e2;
}

.gallery-card {
    /* background:red; */
    /* border:2px solid #e8e6e2; */
    border-radius:5px;
    /* height:450px; */
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    margin-bottom:20px;
}

.gallery-card .col-sm-6 {
    padding:0px;
}

.gallery-card h2 {
    padding:0px;
    margin:0px;
}

.profile-pic {
    width:100px;
    height:100px;
    border-radius:50%;
    border:2px solid white;
    margin-bottom:5px;
    box-shadow: 0 2px 5px rgb(0,0,0,.25)
}

.gallery-card .col-sm-8 .col-sm-8 {
    background:rgba(200,200,200, .6);
    border-radius:10px;
    margin-right:20px;
    padding:10px;
}

.gallery-card table td:nth-child(2) {
    text-align: right;
    padding-left:10px;
}

tr {
    border-bottom:1px solid rgba(200,200,200,.25);
}

.carousel {
    background:white;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5)
}

.carousel-inner {
    /* background:black; */
}
.item {
    align-items: center;
}

.item-image {
    background-position:center;
    min-height:500px;
    background-size:cover;

}

.beige {
    background:#edecec;
}

.review {
    background:rgba(255,255,255,.5);
    padding:10px;
    border-radius:10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.25);
}
